<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid g-0">
    <nav class="navbar navbar-expand navbar-light bg-dark"   id="header">  
        <!-- navbar-dark bg-dark px-2 -->
            <div class="side-nav-button p-2 me-3 text-light">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <!-- bar icon display -->
            </div>
            <a href="" class="navbar-brand px-5" style="color: white;">CAREER BUDDY SYSTEM</a>
            <div class="navbar-collapse">
                <!-- <ul class="navbar-nav text-light " >
                    <li class="nav-item">
                        <a href="" style="color: white; text-decoration: none;"></a>
                    </li>  -->
                    <!-- <li class="nav-item dropdown text-light">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                            Menu 1
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Child1</a></li>
                            <li><a class="dropdown-item" href="#">Child2</a></li>
                            <li><a class="dropdown-item" href="#">Child3</a></li>

                        </ul>
                    </li> 
                    DOUBT -AA NAI RHA HAI DROPDOWN WHAT TO DO @MAM -->

                <!-- </ul> -->

            </div>
                <div class="px-2 bar">
                <a href="" class="nav-link" style=" text-decoration:none;" routerLink="/home" routerLinkActive="current">Home</a>
                </div>
                <div class="px-2 bar">
                    <a href="" class="nav-link" style=" text-decoration:none;" routerLink="/blog" routerLinkActive="current">Blog</a>
                  </div>
                  <div class="px-2 bar">
                    <a href="" class="nav-link" style=" text-decoration:none;" routerLink="/college" routerLinkActive="current">Colleges</a>
                  </div>
                  <div ngbDropdown class="px-2">
                    <button type="button" class="btn" style="color: white;font-size: large;" id="dropdownBasic1" ngbDropdownToggle>
                        Resources
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem><a href="" routerLink="/science" routerLinkActive="current" style="color: black;">Science</a></button>
                        <button ngbDropdownItem><a href="" routerLink="/commerce" routerLinkActive="current" style="color: black;">Commerce</a></button>
                        <button ngbDropdownItem><a href="" style="color: black;" routerLink="/arts" routerLinkActive="current">Arts</a></button>
                    
                    </div>
                  </div>
                  <div class="px-2 bar">
                    <a href="" class="nav-link" style="text-decoration:none;" routerLink="/profile" routerLinkActive="current">View Profile</a>
                  </div>

                  <div class="px-2 bar">
                    <a href="" class="nav-link" style="text-decoration:none;" routerLink="/login" routerLinkActive="current">Log in</a>
                  </div>
                  <div class="px-2 bar">
                    <a href="" class="nav-link" style=" text-decoration:none;" routerLink="/register" routerLinkActive="current">Sign Up</a>
                  </div>
                  
                  <!-- <div class="app-side-nav" class="black-border">

                  </div> -->
    </nav>
    <!-- <div class="main">
        <div id="side" class="bg-dark">
            <div class="side-nav-content bg-dark">
                <ul class="nav-list ">
                    <li class="nav-list-item ">
                        <i class="fa fa-solid fa-home  fa-solid" aria-hidden="true"></i>
                        <span>
                            <a href="#">Home</a>
                        </span>
                    </li>
                    <li class="nav-list-item ">
                        <i class="fa fa-solid fa-info-circle" aria-hidden="true"></i>
                        <span>
                            <a href="#">Resouces</a>
                        </span>
                    </li>
                    <li class="nav-list-item ">
                        <i class="fa fa-sticky-note" aria-hidden="true"></i>
                        <span>
                            <a href="#">Blog</a>
                        </span>
                    </li>
                    <li class="nav-list-item ">
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <span>
                            <a href="#">Instruction</a>
                        </span>
                    </li>
                    <li class="nav-list-item ">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        <span>
                            <a href="#">Assessment</a>
                        </span>
                    </li>
                    <li class="nav-list-item ">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <span>
                            <a href="#">Analysis</a>
                        </span>
                    </li>
                    <li class="nav-list-item ">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <span>
                            <a href="#">Colleges</a>
                        </span>
                    </li>
                    

                </ul>

            </div>

        </div>

    </div> -->
    </div>
    
</body>
</html>

