<div class="color" style="margin-top: 80px;">
    <div>
        <h1 style="margin-left: 10px; font-size: 55px;text-align: center;border: solid grey 5px;border-radius: 10px;">
            Career Clarity Service For Arts
        </h1>
        <p id="intro" style="margin-left: 10px; font-size: 28px;"><i>Several of the highest paying jobs in India in
                arts field have helped people from the arts field lead a luxurious and comfortable life for
                themselves. You’ll be surprised to see how lucrative careers this field offers.
                The humanities or arts stream is often looked down by people, facing prejudices of not being able to
                attain as many lucrative opportunities as science or commerce education sectors. However, the stream
                can offer several high-paying jobs after BA through diverse arts subjects.Arts students can opt for
                the subject of their interest and create a successful career out of courses after 12th arts with
                high salary. You just have to find the right skill to emphasize and the right course while
                strengthening your resume with the right certifications and internship opportunities, eventually
                helping you to bag exciting work opportunities and high-paying jobs after BA.</i>
        </p>
        <hr>
        <h2 style="margin-left:10px;font-size:45px;text-align: center;">
            Some Career Options In Arts:-
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/fashion-designing-1.jpg" class="card-img-top" alt="..." 
                        style="height: 170px;">
                    <div class="card-body">
                        <h5 class="card-title">Fashion Designer</h5>
                        <p class="card-text">If you are interested in design and arts, then you might like a career
                            in fashion design.  You need to be a creative and artistic person to pursue a career in this
                            field. Fashion designer is one of the highest paying jobs in India in Arts field as the
                            average salary of fashion designers in India is INR 3.9 LPA. </p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/Career-in-Corporate-Law-1.jpg" class="card-img-top" alt="..."
                        style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Corporate Lawyer</h5>
                        <p class="card-text">After completing your degree in arts, you can pursue a career in law as
                            well. Corporate lawyers also have one of the highest paying jobs in India in arts and
                            which offers a challenging and unique career.
                            The upper limit of their salary in India is INR 20 LPA at the moment and one of the
                            highest salary jobs for arts students.</p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/Graphic-Design-Career-1280x720.png" class="card-img-top" alt="..."
                        style="height: 170px;">
                    <div class="card-body">
                        <h5 class="card-title">Graphic Designer</h5>
                        <p class="card-text">Another popular career among art students in graphic design. Graphic designer is one of the
                            highest paying jobs in India in arts field as they earn an average salary of INR 3 LPA,
                            but the number can go up to INR 6.2 LPA with experience and skill and one of the highest
                            salary jobs for arts students.  </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/management.jpg" class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Management Roles</h5>
                        <p class="card-text">If you’ve always aspired to get a leadership role, you should pursue a
                            career in management. Managers are among the highest-paid professionals in the world and
                            for many reasons. There are multiple domains in management too, and you can choose one
                            according to your interests and knowledge. </p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/digital career.png" class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Digital Marketing</h5>
                        <p class="card-text">What’s the best method to find information these days? Through the
                            internet, right? Internet is becoming more and more popular in India and the world. In
                            2020, India had around 700 million internet users, and this number is continuously
                            growing. </p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/career-in-journalism.jpg"
                        class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Journalist</h5>
                        <p class="card-text">Journalism has always been a popular career choice in India. You get to
                            use your creative skills as well as your analytical skills in this field as you work on
                            stories.  The average
                            salary of journalists in India is INR 3.6 LPA and one of the highest salary jobs for
                            arts students.  </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>