<section style="padding-top: 65px;">
    <div>
        <div style="padding-top: 20px;">
            <h3 style="text-align: center;">Abstract Reasoning</h3>
            <div class="card">
                <div class="card-header">
                    <h5>1) Which figure is the odd one out? </h5>
                 <img src="assets/images/ques1.JPG" alt="">
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio">A</li>
                    <li><input type="radio">B</li>
                    <li><input type="radio">C</li>
                    <li><input type="radio">D</li>
                    <li><input type="radio">E</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                    <h5>2)Which figure completes the series?  </h5>
                 <img src="assets/images/ques2.JPG" alt="">
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio">A</li>
                    <li><input type="radio">B</li>
                    <li><input type="radio">C</li>
                    <li><input type="radio">D</li>
                    <li><input type="radio">E</li>
                  </ul>
                </div>
              </div>
        </div>
        <div style="padding-top: 30px;">
            <h3 style="text-align: center;">Numerical Reasoning</h3>
            <div class="card">
                <div class="card-header">
                    <h5>1) In which year was the average number of daily swimmers the highest?</h5>
                 <img src="assets/images/ques3.JPG" alt="">
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio">A</li>
                    <li><input type="radio">B</li>
                    <li><input type="radio">C</li>
                    <li><input type="radio">D</li>
                    <li><input type="radio">E</li>
                  </ul>
                </div>
              </div>
        </div>
        <div  style="padding-top: 30px;">
            <h3 style="text-align: center;">Verbal Reasoning</h3>
            <div class="card">
                <div class="card-header">
                    <h5>Coca-Cola,Coke-8.44%reported slightly stronger-than-expected
                        revenue for its latest quarter,boosted by demandforce,coffee,water
                        and sports drinks,butthebeveragecompanyexpectssaleswillslow
                        down this year.
                        Tea and coffee sales volume rose 3% in quarter,driven by the growth
                        Of Fuze Tea in Europe and a new line of ready-to-drink coffee in Japan.
                        Water,enhanced water and sports drinks increased 1%.Soda declined
                        1%,while juice,dairy and plant-based beverages declined2%.
                        Inthequarter,North America soda sales volume took a 1% hit form price
                        Increases,despite higher demand for Coca-Cola Zero Sugar and Sprite.
                        Thecompanyhasbeenfocusingonhighermarginsovervolumegains.
                        Soda Sales have been sliding for much Of The Past Decade as consumers
                        have turned to bottled water and flavored seltzer.
                        Overall,Coca-Cola's Revenue Declined $7billion for the
                        Quarter,as a result of foreign-currency headwinds and therefranchisingof
                        company-ownedbottlingoperations.Analyst spolled by Refined had
                        expected sales of $7.03billion.
                        
                        </h5>
                 
                </div>
                <div class="card-body">
                    <p>1) What Asia drink was responsible for the rise in tea and coffee sales in the
                        quarter?
                        </p>
                  <ul>
                    <li><input type="radio">Coca Cola Zero Sugar</li>
                    <li><input type="radio"> B)FuzeTea</li>
                    <li><input type="radio">C)Ready-to-drink coffee</li>
                    <li><input type="radio"> D)Starbucks</li>
                    
                  </ul>
                  <p>2) What does“margins”most nearly means used in paragraph2?
                </p>
                <ul>
                    <li><input type="radio">border</li>
                    <li><input type="radio">B)leeway</li>
                    <li><input type="radio">C)Limit </li>
                    <li><input type="radio"> D)Surplus</li>
                    
                  </ul>
                </div>
              </div>

        </div>
        <div style="padding-top: 30px;">
            <h3 style="text-align: center;">General Aptitude Test:</h3>
            <div class="card">
                <div class="card-header">
                    <h5>1)The largest cell among the following is',
                        </h5>
                 
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio">Nerve Cell</li>
                    <li><input type="radio">Ovum</li>
                    <li><input type="radio">he egg of an Ostrich</li>
                    <li><input type="radio">None of the above</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                    <h5>2) VOLCANO:LAVA ::,
                        </h5>
                 
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio"> Death:Sorrow</li>
                    <li><input type="radio">Rock:Sand</li>
                    <li><input type="radio">Delta:River</li>
                    <li><input type="radio">Fault:Earthquake</li>
                  </ul>
                </div>
              </div>
        </div>
        <div style="padding-top: 30px;">
            <h3 style="text-align: center;">Personality Test</h3>
            <div class="card">
                <div class="card-header">
                    <h5>I am a worrier</h5>
                 
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio">'Strongly disagree</li>
                    <li><input type="radio">Strongly agree</li>
                    <li><input type="radio"> Disagree</li>
                    <li><input type="radio">Agree</li>
                    <li><input type="radio">  Strongly agree</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                    <h5>2) I trust others
                        </h5>
                 
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio">'Strongly disagree</li>
                    <li><input type="radio">Strongly agree</li>
                    <li><input type="radio"> Disagree</li>
                    <li><input type="radio">Agree</li>
                    <li><input type="radio">  Strongly agree</li>
                  </ul>
                </div>
              </div>
        </div>
        <div style="padding-top: 30px;">
            <h3 style="text-align: center;">Logical Reasoning</h3>
            <div class="card">
                <div class="card-header">
                    <h5>3, 8, 22, 63, 185,_____ 
                    </h5>
                 
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio">285</li>
                    <li><input type="radio">295</li>
                    <li><input type="radio">550</li>
                    <li><input type="radio">500</li>
                    
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                    <h5>2) WZI, EHJ, XAK, _____, YBM, GJN'
                        </h5>
                 
                </div>
                <div class="card-body">
                  <ul>
                    <li><input type="radio">ZCO</li>
                    <li><input type="radio">IFL</li>
                    <li><input type="radio"> FFL</li>
                    <li><input type="radio">FIL</li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</section>