<!-- <div class="hero-section" style="padding-top: 90px;margin-left: 40px;margin-right: 40px;">
    <div class="header">
        <div id="heading" style="font-size: 30px;">
            <h1 id="slogan" >Career Clarity Service For Science</h1>
        </div>
        <p>
            The study of four stream of science,namely physics,chemistry,maths,
            biology opens up a whole new world of opportunities ranging from the
            study of space and nuclear particles to the study of sand and soil
            After 10th, depending upon under which school board you are enrolling
            for class 11th and 12th, you can have several subjects to choose from
            for pursuing right course out of courses after 10th in science as per
            your interest:
        </p>
        <p>
        <ul>
            <li><strong>Physical Science Subjects</strong> - Physics, Chemistry</li>
            <li><strong>Biological Science Subjects</strong> -Biology, Biotechnology, Agriculture, Food Science,
                Sports, Exercise & Health Science, etc.</li>
            <li><strong>Mathematical Science Subjects</strong> - Mathematics, Statistics</li>
            <li><strong>Other Science Subjects </strong> - Computer Science, Marine Science, Engineering Graphics,
                Informatics Practice, Electricity & Electronics, Engineering Science, Environmental Science,
                Geometrical & Building Drawing, Geometrical & Mechanical Drawing, Design Technology, Environmental
                Management, Home Science, etc.</li>
        </ul>
        
    </div >
    <div class="science-image">
        <img class="science-img" src="assets/images/4125_blog-banner_2.jpg" alt="science image" />
    </div>
</div>
<section class="career-options" style="margin-left: 40px;margin-right: 40px;">
    <h2>Career Options for Science Students</h2>
    <div class="artifical">
        <h3>1. Artificial Intelligence and Machine Learning</h3>
        <div class="ai">
            <p>With rapid digitization creeping into almost every function of modern living, professionals who can
                understand this are going to be priceless. AI and machine learning are not only innovative and
                exhilarating but also greatly in demand. Moreover, large corporations are also investing huge
                amounts of
                money in people who have expertise in these processes. Thus, making it an extremely commercially
                viable
                profession as well. A lot of universities in India are offering these courses as a degree program.
                An approximate salary that an AI/ Machine Learning professional can make in India ranges from 6 lakh
                to
                8 lakhs at a fresher level. Experienced professionals can take home quite a higher package. Up to
                approximately 16- 18 lakhs an annum. </p>
            <img src="assets/images/artifical intelligence.png" alt="ai ml image" style="border-radius: 5%; width: 400px; height: 300px;">
        </div>
    


    </div>
    <div>
        <h3>2. Data Science</h3>
        <div class="ds">
            <p>Data Science simply is the study of different kinds of data by the application of scientific methods,
                processes, and algorithms. As AI and machine learning, this is also one of the new-age career
                options
                available for science students to practice. In today’s time, data is considered the most important
                thing
                in an organization. Companies are relying on mining and decoding of high-quality data to implement
                in
                their operations.It has become a benchmark for driving growth for investors and corporates alike. A
                mixture of computer science, math, and analytics, data science helps a professional to forecast
                future
                business numbers and other technical data. This can be very helpful for companies in planning future
                operations.

                Some industries where data science has key significance are risk management, farming, and forensics,
                and
                fraud management. Speaking about salary, in India an entry-level data scientist can cash in up to
                INR
                6-7 lakh rupees an annum, rising steeply with the accumulation of year on year experience and skill
                development. </p>
            <img src="assets/images/data science.png" alt="data science" style="border-radius: 5%; width: 400px; height: 350px;">
        </div>
    </div>
    <div>
        <h3>3. Blockchain Developer</h3>
        <div class="bd">
            <p>After the bitcoin revolution in the late 2010s, blockchain and professions associated with it gained
                great prominence. Blockchain is something that has enticed every young individual in the country
                with
                blockchain developing becoming a sought after profession.

                To the unintended, blockchain is simply an offshoot of Data Science, where the data is organized in
                blocks. These blocks are then connected with each other using cryptography. This is a very complex
                and
                new-age technology, famous for creating cryptocurrencies and other important statistical documents.

                With the increasing awareness in cryptocurrencies and its trading, the demand for blockchain
                developers
                has grown exponentially. An interesting field, blockchain development requires a high level of
                understanding of complex computer software, mathematics, statistics, and algorithms.
                The average salary that a blockchain developer in India can expect has a wide range. With more and
                more
                corporates using this technology to streamline their processes, a profession in this field can
                expect
                anything between INR 5 Lakh per annum to INR 50 Lakh per annum. Depending on prevailing market
                conditions, level of experience, and complexity of tasks performed. </p>
            <img src="assets/images/block chain.jpeg" alt="" style="border-radius: 5%; width: 400px; height: 350px;">
        </div>
    </div>
    <div>
        <h3>4. Pharmacist</h3>
        <div class="bd">
            <p>A pharmacist dispenses medications according to a physician’s prescription, informs patients how to
                take their prescriptions and consults physicians on prescription incompatibility issues. They also
                manage the medication inventory and ensure the cleanliness of the pharmacy environment.
                PharmD programs take about 4 years to finish. Additional coursework for a degree in this field
                includes courses in pharmacology and medical ethics. Students also complete internships in
                hospitals, clinics, or retail pharmacies to gain real-life experience.
                PharmD programs take about 4 years to finish. Additional coursework for a degree in this field
                includes courses in pharmacology and medical ethics. Students also complete internships in
                hospitals, clinics, or retail pharmacies to gain real-life experience.

                Pharmacists must also take continuing education courses to keep up with the latest advances in
                pharmacological science.
                Pharmacists must also take continuing education courses to keep up with the latest advances in
                pharmacological science National salary of a Pharmacist is around 4000/hr.
            </p>
            <img src="assets/images/pharmacy.webp" alt="pharmacy" style="border-radius: 5%; width: 430px;">
        </div>
    </div>
    <div>
        <h3>5. Dentist</h3>
        <div class="bd">
            <p>
                A Dentistry is a branch of medicine that deals with the anatomy, development, and diagnosis of
                diseases and disorders of human teeth. The one who has a degree in dentistry and practices dentistry
                is known as Dentist. It has become a common trend to go for dentistry Courses in India when students
                do not get admission to MBBS or are scoreless on the entrance test.

                Most people hardly know anything about the BDS course and give it a second priority to studying
                dentistry. But in reality, Dentistry is a stimulating and vibrant career option, just like MBBS, to
                kick start your career option in dentistry course in India.

                This branch of dental study is growing day by day to accommodate new Dental technologies as a result
                of continuous research. Well, let’s take a closer look at what dentistry courses deal with and their
                future perspectives.

                A dentist usually carries out treatments to prevent or treat various dental diseases, commonly tooth
                decay and gum disease. Their work involves tissues and structures lying in the facial and jaw area
                near the oral cavity. A dentist plays a vital role in keeping the natural teeth of a person as such
                for a long time and creating awareness among the public about oral health.
            </p>
            <img src="assets/images/dentistry.jpg" alt="pharmacy" style="margin-top:55px; border-radius: 5%;height: 177px; width: 732px;">
        </div>
    </div>
</section>
 -->
 <div class="color" style="margin-top: 80px;">
    <div>
      <h1 style="margin-left: 10px; font-size: 55px;text-align: center;border: 5px solid grey;">
        Career Clarity Service For Science:-
      </h1>
      <p id="intro" style="margin-left: 10px; font-size: 28px">
        <i>
          Science stream is a very common choice among 10th standard passed
          students in India. Students who want to pursue applied and pure
          science professional courses in the future may choose this stream.
          There are a variety of boards in India, subjects to study,
          professional courses available, prospects, and science stream career
          options after 10th which can be chosen according to each one’s
          convenience. The Science stream is a bit challenging when compared
          to all the other main streams like Arts and Commerce. Academically
          talented students won’t have much difficulty in facing the subjects
          present in this stream.
        </i>
      </p>
      <hr />
      <h2 style="margin-left: 10px; font-size: 45px">
        Some Career Options In Science:-
      </h2>
    </div>
    <div class="container" style="margin-left: 120px;margin-right: 20px;padding-left: 2px;">
      <div class="row" >
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img
              src="assets/images/artifical intelligence.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                Artificial Intelligence and Machine Learning
              </h5>
              <p class="card-text">
                AI and machine learning are not only innovative and
                exhilarating but also greatly in demand. large corporations
                are also investing huge amounts of money in people who have
                expertise in these processes. Thus, making it an extremely
                commercially viable profession as well.
                <!-- AI/ Machine Learning
                professional can make in India ranges from 6 lakh to 8 lakhs
                at a fresher level. -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem">
            <img
              src="assets/images/data science.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Data Science</h5>
              <p class="card-text">
                Data Science simply is the study of different kinds of data by
                the application of scientific methods, processes, and
                algorithms.A mixture of computer science, math, and analytics,
                data science helps a professional to forecast future business
                numbers and other technical data.
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem">
            <img
              src="assets/images/block chain.jpeg" height="185px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Blockchain Developer</h5>
              <p class="card-text">
                A blockchain is a type of database used to store and organize
                information. Traditional databases arrange information into
                rows and columns that make up tables. This makes the
                information easy for computers to recognize.
                <!-- They are
                responsible for developing 3D models, 3D designs, and 3D
                content such as that used in games. -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 20rem">
            <img src="assets/images/pharmacy.webp" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Pharmacist</h5>
              <p class="card-text">
                A pharmacist dispenses medications according to a physician’s
                prescription, informs patients how to take their prescriptions
                and consults physicians on prescription incompatibility
                issues. They also manage the medication inventory and ensure
                the cleanliness of the pharmacy environment. PharmD programs
                take about 4 years to finish.
                <!-- Additional coursework for a
                degree in this field includes courses in pharmacology and
                medical ethics. Students also complete internships in
                hospitals, clinics, or retail pharmacies to gain real-life
                experience. -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem">
            <img src="assets/images/dentistry.jpg" class="card-img-top" alt="..." height="160px"/>
            <div class="card-body">
              <h5 class="card-title">Dentist</h5>
              <p class="card-text">
                A Dentistry is a branch of medicine that deals with the
                anatomy, development, and diagnosis of diseases and disorders
                of human teeth. The one who has a degree in dentistry and
                practices dentistry is known as Dentist. It has become a
                common trend to go for.
                <!-- courses in India when
                students do not get admission to MBBS or are scoreless on the
                entrance test. -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem">
            <img src="assets/images/surgeon.jpeg" class="card-img-top" alt="..." height="160px" />
            <div class="card-body">
              <h5 class="card-title">Surgeon</h5>
              <p class="card-text">
                A surgeon examines patients, counsels them about their
                diagnosis and carries out surgeries to repair their bodies or
                remove diseased parts. They also prescribe post-operation
                treatment and medications.
                <!-- Surgeons work in coordination with
                nurses, anesthesiologists and other medical professionals. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
