<div class="color" style="margin-top: 110px;">
    <div >
        <hr style="border: solid 5px black;">
        <h1 style="margin-left: 10px; font-size: 55px;text-align: center;">
            Top college of Science,Arts,Commerce
        </h1>

        <hr style="border: solid 5px black;">

    </div>
    <div class="color" style="margin-top: 65px">
        <div>
          <h2 style="margin-left: 10px; font-size: 45px;text-align: center;">
            Top colleges of Science :-
          </h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img src="assets/images/loloyo.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Loyola College</h5>
                  <p class="card-text">
                    Loyola College Chennai is affiliated to the University of Madras.
                    NAAC has accredited the college with an ‘A++’ grade.
                  </p>
                  <a href="https://www.loyolacollege.edu/"
                    ><button class="btn btn-dark" type="submit">
                      Read More
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img
                  src="assets/images/fergusson.jpeg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Fergusson College</h5>
                  <p class="card-text">
                    Fergusson College is affiliated to Savitribai Phule Pune
                    University Pune formerly known as the University of Pune.NAAC has
                    accredited the college with an ‘A’ grade.
                  </p>
                  <a href="https://www.fergusson.edu/"
                    ><button class="btn btn-dark" type="submit">
                      Read More
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img src="assets/images/st ahm.jpeg" class="card-img-top" alt="..." height="185px"/>
                <div class="card-body">
                  <h5 class="card-title">St.Xavier's Ahmedabad</h5>
                  <p class="card-text">
                    The college is affiliated to Gujarat University and managed by the
                    Gujarat Province of Society of Jesus.As per NIRF ranking 2021,it was ranked 57th in the college category
                  </p>
                  <a href="https://sxca.edu.in/"
                    ><button class="btn btn-dark" type="submit">
                      Read More
                    </button></a
                  >
                </div>
              </div>
            </div>  
          </div>
          <div class="row">
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img src="assets/images/mount.jpeg" class="card-img-top" alt="..." height="185px"/>
                <div class="card-body">
                  <h5 class="card-title">Mount Carmel College (MCC)</h5>
                  <p class="card-text">
                    >Mount Carmel College (MCC) is an autonomous college located in
                    Bangalore, India, affiliated to Bangalore University.The college
                    is Re-Accredited with an A+ Grade(4th Cycle) by NAAC.
                  </p>
                  <a href="https://mccblr.edu.in/"
                    ><button class="btn btn-dark" type="submit">
                      Read More
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img
                  src="assets/images/psg college.jpeg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">PSG College of Arts and Science</h5>
                  <p class="card-text">
                    PSG College of Arts and Science is an autonomous college
                    affiliated with Bharathiar University.NAAC has accredited the
                    college with an ‘A’ grade.
                  </p>
                  <a href="https://www.psgcas.ac.in/"
                    ><button class="btn btn-dark" type="submit">
                      Read More
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img
                  src="assets/images/sp college.jpeg"
                  class="card-img-top"
                  alt="..."
                  height="185px"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    Sir Parashurambhau College (S.P. College)
                  </h5>
                  <p class="card-text">
                    S.P. College is an Autonomous college in Pune, Maharashtra,
                    India.NAAC has accredited the college with an ‘A+’ grade.
                  </p>
                  <a href="https://www.spcollegepune.ac.in/"
                    ><button class="btn btn-dark" type="submit">
                      Read More
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img
                  src="assets/images/hansraj.jpeg"
                  class="card-img-top"
                  alt="..."
                  height="185px"
                />
                <div class="card-body">
                  <h5 class="card-title">Hansraj College</h5>
                  <p class="card-text">
                    Hansraj College is one of the largest constituent colleges of
                    Delhi University.NAAC has accredited the college with an ‘A++’
                    grade
                  </p>
                  <a href="https://www.hansrajcollege.ac.in/"
                    ><button class="btn btn-dark" type="submit">
                      Read More
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img src="assets/images/chm.jpeg" class="card-img-top" alt="..." height="185px"/>
                <div class="card-body">
                  <h5 class="card-title">CHM college</h5>
                  <p class="card-text">
                    The college offers education to students at Junior, Undergraduate
                    Degree and Post-Graduate levels.NAAC has accredited the college
                    with an ‘B’ grade.
                  </p>
                  <a href="https://www.chmcollege.in/'"
                    ><button class="btn btn-dark" type="submit">
                      Read More
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 20rem">
                <img
                  src="assets/images/stephen.jpeg"
                  class="card-img-top"
                  alt="..."
                  height="185px"
                />
                <div class="card-body">
                  <h5 class="card-title">St. Stephen’s College</h5>
                  <p class="card-text">
                    St. Stephen’s College is affiliated to Delhi University.The
                    college is accredited by NAAC with an ‘A’ grade. The college is
                    ranked 8th in the NIRF Ranking 2021.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <h1 style="margin-left: 10px; font-size: 50px;text-align: center;">
        Top college of Commerce:-
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/commerce1.jpeg" class="card-img-top" alt="..." height="185px">
                    <div class="card-body">
                        <h5 class="card-title">Shri Ram College Of Commerce</h5>
                        <p class="card-text">(SRCC) is a constituent college of
                            the University of Delhi.SRCC was ranked the best Commerce College by
                            India Today in 2020.</p>
                            <a href="https://www.srcc.edu/"><button class="btn btn-dark" type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/hindu college.jpeg" class="card-img-top" alt="..." height="185px">
                    <div class="card-body">
                        <h5 class="card-title">Hindu College</h5>
                        <p class="card-text">These are the investment consultants who buy and sell securities on
                            behalf of their
                            clients. They
                            can work with firms or have individual clients based on their experience.</p>
                            <a href="https://hinducollege.ac.in/"><button class="btn btn-dark"
                                type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/daulatram.jpeg" class="card-img-top" alt="..." height="185px">
                    <div class="card-body">
                        <h5 class="card-title">Daulat Ram College</h5>
                        <p class="card-text">The college is affiliated to Gujarat University.As per NIRF
                            ranking 2021, St. Xavier College
                            has been ranked 57th in the college category</p>
                            <a href="https://www.dr.du.ac.in/"><button class="btn btn-dark"
                                type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/ramjas.jpeg"
                        class="card-img-top" alt="..." height="165px">
                    <div class="card-body">
                        <h5 class="card-title">Ramjas Colleg</h5>
                        <p class="card-text">Ramjas College is a college of the University of Delhi.In 2021,
                            India Today ranked Ramjas College 7th among commerce colleges,.</p>
                            <a href="https://ramjas.du.ac.in/college/web/index.php"><button
                                class="btn btn-dark" type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/gargiuniversity.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gargi College)</h5>
                        <p class="card-text">Gargi College is one of the top colleges affiliated to the
                            University of Delhi.College ranked 16th among colleges in India by the National
                            Institutional Ranking Framework during 2020 </p>
                            <a href="https://gargicollege.in/"><button class="btn btn-dark"
                                type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/rapodar.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">R.A Podar College</h5>
                        <p class="card-text">R.A Podar College is affiliated with the University of Mumbai,
                            situated in Matunga, Mumbai, India.The National Assessment and Accreditation
                            Council (NAAC) of India has awarded an A+ rating to Podar College.</p>
                            <a href="https://www.psgcas.ac.in/"><button class="btn btn-dark"
                                type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/christ.jpeg"
                        class="card-img-top" alt="..." height="170px">
                    <div class="card-body">
                        <h5 class="card-title">CHRIST University</h5>
                        <p class="card-text">CHRIST (Deemed to be University) is a deemed to be
                            university in Bangalore, Karnataka, India.According to the QS India rankings for
                            2020, Christ is positioned 20–25.</p>
                            <a href="https://christuniversity.in/"><button class="btn btn-dark"
                                type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/spm.jpeg"
                        class="card-img-top" alt="..." height="165px">
                    <div class="card-body">
                        <h5 class="card-title">Seshadaripuram Degree College(SPM)</h5>
                        <p class="card-text">Established in 1973 and affiliated to Bangalore University.This
                            reputation sustained through more than 4 decades</p>
                            <a href="https://www.spmcollege.ac.in/"><button class="btn btn-dark"
                                type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/kirori.jpeg"
                        class="card-img-top" alt="..." height="165px">
                    <div class="card-body">
                        <h5 class="card-title">Kirori Mal College</h5>
                        <p class="card-text">Kirori Mal College is a constituent college of the University
                            of Delhi. he college was ranked 18th among colleges in India by the NIRF,
                            Ministry of Human Resource Development in 2019 and 19th in 2020.</p>
                            <a href="https://kmc.du.ac.in/"><button class="btn btn-dark" type="submit">Read
                                More</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="color" style="margin-top: 65px;">
      <div>
          <h2 style="margin-left:10px;font-size:45px;text-align: center;">
              Top college of Arts:-
          </h2>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/kishinchand.jpeg" class="card-img-top" alt="..." height="210px">
                      <div class="card-body">
                          <h5 class="card-title">KC College</h5>
                          <p class="card-text">KC College is a higher educational Autonomous institution in
                              Mumbai, Maharashtra, India. It was the first college to be awarded an "A" grade
                              by The National Assessment and Accreditation Council (NAAC) in Mumbai</p>
                          <a href="https://kccollege.edu.in/"><button class="btn btn-dark" type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/lsr.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">LSR, New Delhi</h5>
                          <p class="card-text">Lady Shri Ram College for Women, has long been recognized as a
                              premier institution of higher learning for women in India.</p>
                          <a href="https://lsr.edu.in/"><button class="btn btn-dark" type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/mordern.jpeg" class="card-img-top" alt="..." height="180px">
                      <div class="card-body">
                          <h5 class="card-title">Modern College</h5>
                          <p class="card-text">Modern College is affiliated with Savitribai Phule Pune
                              University. Modern College was awarded Grade 'A+' in the third cycle of NAAC
                              Accreditation.</p>
                          <a
                              href="https://collegedunia.com/college/3010-modern-college-of-arts-science-and-commerce-mcasc-shivajinagar-pune"><button
                                  class="btn btn-dark" type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/miranda.png"
                          class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Miranda House, New Delhi</h5>
                          <p class="card-text">Miranda House, was established in year 1948 and is affiliated
                              to the University of Delhi. This College is accredited by NAAC and offers UG, PG
                              programs in numerous specializations.</p>
                              <a href="https://www.mirandahouse.ac.in/"><button class="btn btn-dark"
                                  type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/maha.jpg" class="card-img-top" alt="..." height="185px">
                      <div class="card-body">
                          <h5 class="card-title">Maharaja Agrasen College</h5>
                          <p class="card-text">Maharaja Agrasen College was established in 1994 and is fully
                              funded by the Government of India.</p>
                              <a href="https://www.psgcas.ac.in/"><button class="btn btn-dark"
                                  type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/mcc.jpg"
                          class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">MCC Chennai</h5>
                          <p class="card-text">Madras Christian College (MCC) was established in the year 1837
                              which is located in Tamil Nadu in 320 Acres area.</p>
                              <a href="https://www.psgcas.ac.in/"><button class="btn btn-dark"
                                  type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/wilson.jpeg"
                          class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Wilson College</h5>
                          <p class="card-text">Wilson College was granted autonomy by Mumbai University in
                              November 2021.[4] It was awarded an A rating by the National Assessment and
                              Accreditation Council (NAAC) in 2005.</p>
                              <a href="https://www.wilsoncollege.edu/"><button class="btn btn-dark"
                                  type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/kristu.jpeg"
                          class="card-img-top" alt="..." height="180px">
                      <div class="card-body">
                          <h5 class="card-title">Kristu Jayanti College</h5>
                          <p class="card-text">The College is affiliated to Bengaluru North University and is
                              reaccredited with grade 'A++' in 2021 by NAAC in the Third Cycle of
                              Accreditation. The college is recognized by UGC under the category 2(f) & 12(B).</p>
                              <a href="https://kristujayanti.edu.in/home/"><button class="btn btn-dark"
                                  type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card" style="width: 20rem;">
                      <img src="assets/images/bethnue.jpeg"
                          class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">CHM College</h5>
                          <p class="card-text">Reaccredited at the 'A' Level by NAAC.Bethune College has been
                              placed in the 74th position in the College Category in NIRF ranking (2022).</p>
                              <a href="https://www.chmcollege.in/"><button class="btn btn-dark"
                                  type="submit">Read
                                  More</button></a>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>