<div style="text-align: center; margin-top: 65px;">
    <div >
        <h1 style="margin-top: 22px;margin-bottom:22px;font-size: 5.5rem;">Welcome to Blog Section</h1>
    
    <div style="padding-left: 70px;">
    <div  class="card mb-3 blog" style="max-width: 85%;">
        <div class="row g-0">
            <div class="col-md-4 image">
                <img src="assets/images/Choose-YouTube-As-A-Career-Option-Reality.jpg"
                    class="img-fluid rounded-start img-thumbnail jj" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Is It Right To Choose YouTube As A Career Option? Claims Vs. Reality</h5>
                    <p class="card-text">As you are reading this article, you are probably interested in choosing
                        YouTube as a career, whether it is full-time or part-time earning.There is no need for an
                        introduction to YouTube at that time you are reading this article. Now, it is really hard to
                        find people are reading articles, active on social media platforms, playing games on their
                        smartphones don’t spend their time enjoying YouTube videos.
                        YouTube is the largest video sharing platform in the world. Billions of people watch
                        billions of hours of videos on it on a daily basis. Besides the massive number of viewers,
                        many people are on YouTube trying to make money from it.<a
                            href="https://twistarticle.com/is-it-right-to-choose-youtube-as-a-career-option-claims-vs-reality/">Read
                            more
                        </a></p>

                </div>
            </div>
        </div>
    </div>
    <div  class="card mb-3 blog" style="max-width: 85%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/bitcoin-guide-3.jpg" class="img-fluid rounded-start img-thumbnail jj" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">How to start a career in crypto? A beginner’s guide for 2022</h5>
                    <p class="card-text">The cryptocurrency industry is arguably one of the fastest-growing
                        industries in the world. With its decentralized finance (DeFi) system and blockchain
                        technology, crypto has become an attractive career path for those interested in technology
                        and finance. As expected of any fast-growing sector, growth has also led to a corresponding
                        increase in demand for talented individuals to build the space.

                        According to a KoreanAITimes report, cryptocurrency and blockchain jobs grew by a whopping
                        118% between September 2020 and July 2021.Even in the correct market downturn, where some
                        firms have paused hiring or cut staff from their rosters, others are actively searching for
                        and onboarding staff. <a
                            href="https://cointelegraph.com/news/how-to-start-a-career-in-crypto-a-beginner-s-guide-for-2022">
                            Read more</a> </p>

                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 blog" style="max-width: 85%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/Which-One-Should-You-Opt-For-1280x720.jpg"
                    class="img-fluid rounded-start img-thumbnail jj" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Difference Between Degree and Diploma</h5>
                    <p class="card-text">For any student who has passed their board exams or HSC or Intermediate
                        education, making the decision around the online diploma vs degree can be a daunting task.
                        Choosing the right programme to continue your education must rely on the type of reward you
                        want to earn upon graduation. You should consider the purpose of your study and look for the
                        outcomes of your preferred online degree or diploma courses. There are many online degree
                        and diploma courses from top universities that you can choose to pursue your desired career.
                        To help you make the right choice around online diploma vs degree, we have brought you this
                        article that will let you explore and understand the degree diploma difference and decide
                        which is better diploma or degree. <a
                            href="https://www.careers360.com/courses-certifications/articles/diploma-vs-degree#:~:text=A%20degree%20is%20given%20to,particular%20field%20of%20his%20choice.">Read
                            more</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div  class="card mb-3 blog" style="max-width: 85%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/sports.jpg" class="img-fluid rounded-start img-thumbnail jj" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Importance of Sports in Education</h5>
                    <p class="card-text">In contrast to conventional textbook education, modern education includes
                        sports as a crucial and mandatory field for children to engage in. Today’s educators and
                        professionals studying school curriculum and child’s development have recognized and
                        acknowledged the importance of sports in education. The idea is to promote more holistic
                        development, and sports play an instrumental role in it. In this blog, we have listed the
                        various factors that make us realise the significance of sports in a child’s education. <a
                            href="https://leverageedu.com/blog/importance-of-sports-in-education/">Read more</a></p>

                </div>
            </div>
        </div>
    </div>
    <div  class="card mb-3 blog" style="max-width: 85%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/stress.jpg" class="img-fluid rounded-start img-thumbnail jj" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">How to Identify Signs & Causes of Stress in Children</h5>
                    <p class="card-text">We are all living in a time of increased stress these days. Our world as we
                        know it has undergone a drastic shift. As a result, our children are not immune to the
                        impact. Like adults, many kids are struggling right now. It reflects the current state of
                        the world, not parenting skills.

                        Children are remarkable “noticers.” Have you ever experienced your child parroting back
                        something you may have said, thinking they didn’t catch it? Been surprised by them
                        mentioning a topic you thought they didn’t know anything about? They pick up on these verbal
                        exchanges. Even more so, they absorb feelings going on around them. And today, there are a
                        whole lot of feelings going on. Children notice when their parents or caregivers are
                        stressed and may react to our emotional states. <a
                            href="https://kidsmindsmatter.com/stress-in-children-signs-symptoms-and-strategies/">Read
                            More</a></p>

                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 blog" style="max-width: 85%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/internships.jpg" class="img-fluid rounded-start img-thumbnail jj" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">A Guide on How to Get & Apply for an Internship</h5>
                    <p class="card-text"><strong>What is an internship?</strong>
                        An internship is a temporary job position that is typically reserved for college students
                        and recent graduates. Interns tend to work in exchange for school credit or for base pay.
                        Through an internship, students can gain knowledge about the culture and day-to-day
                        operations of the company industry. Internships can last anywhere from several months to a
                        year.

                        Internships are also helpful for students who haven’t settled on a career path. By working
                        in an industry temporarily, they can take some time to determine whether a career is right
                        for them.. <a
                            href="https://www.indeed.com/career-advice/finding-a-job/definitive-guide-to-internships">Read
                            More</a></p>

                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 blog" style="max-width: 85%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/world-philosophy-day-education-concept-with-tree-of-knowledge-planting-on-opening-old-big-book-1059422276-47f095a519b64b70b61590b065d8d1bd.jpg" class="img-fluid rounded-start img-thumbnail jj" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">6 Things the Curriculum Skipped, But You Shouldn’t</h5>
                    <p class="card-text">It’s a myth that success depends on the number of degrees you have. While
                        knowledge is a big part of it, you have to consider many other aspects like interpersonal
                        skills, general awareness, upskilling, etc. However, most schools focus on providing
                        students with textbook knowledge, and often fail to make them ‘future-ready’. Think a
                        textbook education alone is enough to help our youth make it big? In a recent interview,
                        Ginni Rometty, Chairperson, CEO and President of IBM, made a statement that most Indians
                        don’t have the necessary skills for employment! She went on to say, “You have got to believe
                        in a few different things than what you believed in the past. One is that skills are perhaps
                        more important than a degree.” <a
                            href="https://blog.mentoria.com/six-things-the-curriculum-skipped-but-you-shouldn-t/">Read
                            More</a></p>

                </div>
            </div>
        </div>
    </div>
    <div  class="card mb-3 blog" style="max-width: 85%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/startup.jpg" class="img-fluid rounded-start img-thumbnail jj" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">5 Startup Business Ideas for Students in College</h5>
                    <p class="card-text">We’re lucky to live in a day and age where all it takes to start your own
                        business is passion and a great idea. There was a time when people chose the more
                        traditional route of learning the ropes under the guidance of a seasoned professional before
                        venturing out on their own. But the recession hit, jobs were scarce and then came the age of
                        digital media. Today, you don’t need extensive experience or expertise – if you know your
                        way around the Internet and have a product or service idea with a strong USP, you can start
                        working on your dream right out of college! <a href="https://blog.mentoria.com/startup-ideas-for-students/">Read More</a></p>
                    
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

