/* {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
}  */
.jj{
    padding-left: 10px;
    padding-top: 15px; 
}
.blog{
    text-align: justify;
}
/* p a{
    color: black;
} */
h1{
    margin-top: 22px;
    margin-bottom: 22px;
    font-family: 'Great Vibes', cursive;
    font-size: 5.5rem;
    
}
.card{
    margin: 25px;
    border-radius: 20px;
    border: 4px black solid;


}
.card-text{
    font-size: 20px;
}