<div class="color" style="margin-top: 80px;">
    <div>
      <h1 style="margin-left: 10px; font-size: 55px;border: 5px grey solid;text-align:center ;">
          Career Clarity Service For Commerce
      </h1>
      <p id="intro" style="margin-left: 10px; font-size: 28px;"><i>Commerce is an integral part of society. The Bachelor of Commerce explores how our desire to trade what we
          have for what we want has shaped how people and nations have interacted for millennia, and how global trade
          and digital disruption are fundamentally changing commerce in society.If you're a clever thinker who likes
          to find solutions to problems and consider ideas in abstract ways, Commerce will teach you to apply your
          thinking in a commercial capacity to influence change.
  
          Commerce is integral to all facets of the economy. It encompasses the diverse and rapidly changing
          activities of the world, including decision-making, leadership, innovation and policy development.</i>
      </p>
      <hr>
      <h2 style="margin-left:10px;font-size:45px;text-align: center;">
          Some Career Options In Commerce:-
      </h2>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="assets/images/cs.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chartered Accountant</h5>
              <p class="card-text">These professionals are financial consultants, auditors and taxation management
                advisors. They
                help businesses, individuals, financial institutions, etc. This profile does not compulsorily
                require a graduation degree. To become a chartered accountant, you can take direct entry after
                the 12th.</p>
              
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="assets/images/stock broker.jpg" class="card-img-top" alt="..." height="180px">
            <div class="card-body">
              <h5 class="card-title">Stockbrokers</h5>
              <p class="card-text">These are the investment consultants who buy and sell securities on behalf of their
                clients. They
                can work with firms or have individual clients based on their experience.</p>
              
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="assets/images/company secretary.jpg" class="card-img-top" alt="..." height="180px">
            <div class="card-body">
              <h5 class="card-title">Company Secretary</h5>
              <p class="card-text">A company secretary is a person who ensures smooth administration within the company.
                They ensure
                that the company is compliant with statutory requirements. They ensure that the company’s
                director operator within the law.</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="assets/images/insurance-broker-word-cloud-wordcloud-made-text-131058110.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Insurance Brokers</h5>
              <p class="card-text">These are licensed professionals who offer insurance broking services to their clients. They are
                licensed to offer policies from any insurance company based on your requirements. There are
                three main types of insurance brokers: Direct insurance brokers reinsurance brokers and
                composite brokers.</p>
              
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="assets/images/What-is-CFP-Certification.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Certified Financial Planner (CFP)</h5>
              <p class="card-text">CFP is a certified expert who works in the area related to financial planning, insurance, taxes,
                estate planning and retirement. They help individuals with financial management. The most
                important aspect of these professionals is to be fiduciary of your assets. </p>
              
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="assets/images/cost-accounting-Final-df5c300735504131b8fe8642f2d2758d.png" class="card-img-top" alt="..." height="180px">
            <div class="card-body">
              <h5 class="card-title">Cost Accountant</h5>
              <p class="card-text">A cost accountant is a professional who analyses product costs that are manufactured and sold by
                the organization. They inspect the cost in the production network and perform productivity
                examinations.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
