


<section style="padding-top: 65px;">

  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2 class="text">Welcome To CareerBuddy</h2>
          <p style="margin-top: -70px;" class="headingp">Enabling Young minds to Achieve Their Dreams!</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=zhpcgpqWc1Q"
              class=" glightbox btn-watch-video d-flex align-items-center"><i class="fa fa-play-circle"></i><span>Watch
                Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/images/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>
  
    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
  
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Understanding you</a></h4>
            </div>
          </div>
          <!--End Icon Box -->
  
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Determining a Best-Fit career</a></h4>
            </div>
          </div>
          <!--End Icon Box -->
  
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Plan of Action</a></h4>
            </div>
          </div>
          <!--End Icon Box -->
  
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Shaping Your Career Destiny</a></h4>
            </div>
          </div>
          <!--End Icon Box -->
  
        </div>
      </div>
    </div>
  
  
  </section>
  
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
  
      <div class="section-header">
        <h2>About Us</h2>
        <p>Discover Your Dream Career with Our Tailored Solutions</p>
      </div>
  
      <div class="row gy-4">
        <div class="col-lg-6">
          <h3>CareerCrux, your one-stop-shop for comprehensive career guidance and support.</h3>
          <img src="assets/images/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
          <p>Our team of experienced professionals is committed to helping you discover your strengths, interests, and
            career goals through a variety of assessments, tests, and personalized guidance. Whether you're just starting
            out in the job market or looking to make a career change, we have the expertise to support you every step of
            the way.</p>
          <p>So whether you're looking to discover your perfect career path, build new skills, or simply gain a better
            understanding of your strengths and weaknesses, we're here to help. Let us help you take control of your
            career today!</p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              At CareerCrux , we believe in empowering individuals to take control of their careers and achieve
              their dreams. Our wide range of career assessments and tests are designed to provide
            </p>
            <ul>
              <li><i class="fa fa-check-circle-o"></i>Better understanding of your unique skills.
              </li>
              <li><i class="fa fa-check-circle-o"></i> Whether you're interested in exploring different
                industries or seeking to develop specific skills.
              </li>
              <li><i class="fa fa-check-circle-o"></i>Variety of assessments, tests, and personalized guidance.
              </li>
            </ul>
            <p>
              We are dedicated to providing the highest quality career guidance and support to individuals of all ages and
              backgrounds. Our goal is to help you achieve your career dreams and reach your full potential, so you can
              build a brighter future for yourself and your loved ones.
            </p>
  
            <div class="position-relative mt-4">
              <img src="assets/images/about-2.jpg" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=zhpcgpqWc1Q" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section><!-- End About Us Section -->


  <section>
    <div class="quote">
      <p>"The Future Depends on what we do in present"</p>
      <p>-Mahatma Gandhi</p>
    </div>

  </section>
  <section class="white-section" id="pricing">
    <div class="first-sec" style="text-align: center;">
      
    <h2 class="section-heading">Different types of test</h2>
    <p>Discover your Interests and Aptitudes and embark on your career journey</p>
    </div>
    <div class="row" >
      <div class="pricing-column col-md-4" id="first-card" style="margin-left: 33%; margin-right: 60%;">
        <div class="card ">
          <div class="card-header" >
            <h3 style="text-align: center;">DEMO TEST</h3>
          </div>
          <div class="card-body">
            
            <p>It is a practise test given before taking any other test.</p>
            <br>
            <button class="btn btn-lg btn-block" style="background-color: black;color: white;" type="button"><a href="/quiz" RouterLink="/quiz" routerLinkActive="current"  style="text-decoration: none;color:white;">Click me</a></button>
          </div>
        </div>
      </div>

    </div>

 
  
  <div class="row">

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card ">
        <div class="card-header">
          <h3 style="text-align: center;">Difficult level:Easy</h3>
        </div>
        <div class="card-body">
          <p>This is a basic test used for analysis and will be administered on the basis of demo test.</p>
          <br>
          <button class="btn btn-lg btn-block " style="background-color: black;color: white;" routerLink="/easy"  routerLinkActive="current" type="button">click me</button>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card ">
        <div class="card-header">
          <h3 style="text-align: center;">Difficulty level:Medium</h3>
        </div>
        <div class="card-body">
          <p>This is a medium test used for analysis and will be administered on the basis of demo test.</p>
          <br>
          <button class="btn btn-lg btn-block " style="background-color: black;color: white;" type="button">Click me</button>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4">
      <div class="card">
        <div class="card-header ">
          <h3 style="text-align: center;">Difficulty level:Hard </h3>
        </div>
        <div class="card-body">
          
          <p>This is a difficult test used for analysis and will be administered on the basis of demo test.</p>
          <br>
          
          
          <button class="btn btn-lg btn-block" style="background-color: black;color: white;" type="button">Click me</button>

        </div>
      </div>
    </div>



  </div>

</section>
</section>
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>Impact</span>
        </a>
        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Product Management</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Graphic Design</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          A108 Adam Street <br>
          New York, NY 535022<br>
          United States <br><br>
          <strong>Phone:</strong> +1 5589 55488 55<br>
          <strong>Email:</strong> info@example.com<br>
        </p>

      </div>

    </div>
  </div>

</footer><!-- End Footer -->
<!-- End Footer -->


