<section >
 
    <div class="container-fluid " >
      <div class="row">
       
        <div  style="color: black;">
          <div>
            <h1 style="text-align: center;" class="mt-5 p-5"><b>Create a Better Future for yourself!</b></h1>
          </div>
          <div class="row" id="first-row">
            <div class="col-md-6">
              <div class="backgroundimg img-thumbnail">
              </div>

            </div>
            <div class="col-md-6" id="para1">
              <h3><b>What is career guidance?</b></h3>
              <p>The term "guidance" first appeared in the 1530s and is defined as the process of directing behaviour. Career guidance is a comprehensive developmental scheme that assists individuals in making and carrying out informed educational and occupational choices. In a nutshell, it is a journey through which people learn to make mature and informed decisions. It is the act of directing or directing; it is the act of seeking advice.

                Individuals receive career guidance to help them acquire the knowledge, information, skills, and experience required to identify career options and narrow them down to make a single career decision. This career choice affects their social, financial, and emotional well-being throughout their lives.
                </p>

            </div>
          </div>
          <section class="white-section" id="features">

            <div class="container-fluid">
        
              <div class="row" style="padding-left:50px">
                <div class="feature-box col-lg-4">
                  <i class="icon fa fa-check-circle fa-4x" ></i>
                  <h3 class="feature-title">satisfaction guarantee</h3>
                </div>
        
                <div class="feature-box col-lg-4">
                  <i class="icon fa fa-bullseye fa-4x" ></i>
                  <h3 class="feature-title" style="padding-left:20px ;">Precise Guidance</h3>
                
                </div>
        
                <div class="feature-box col-lg-4">
                  <i class="icon fa fa-heart fa-4x" ></i>
                  <h3 class="feature-title" style="padding-left: 30px;">User Friendly</h3>
                  
                </div>
              </div>
        
        
            </div>
          </section>
          
        </div> 
      </div>     
    </div>
    <section>
      <div class="quote">
        <p>"The Future Depends on what we do in present"</p>
        <p>-Mahatma Gandhi</p>
      </div>

    </section>
    <section class="white-section" id="pricing">
      <div class="first-sec">
        
      <h2 class="section-heading">Different types of test</h2>
      <p>Discover your Interests and Aptitudes and embark on your career journey</p>
      </div>
      <div class="row" >
        <div class="pricing-column col-md-4" id="first-card" style="margin-left: 33%; margin-right: 60%;">
          <div class="card border-secondary">
            <div class="card-header" >
              <h3 style="text-align: center;">DEMO TEST</h3>
            </div>
            <div class="card-body">
              
              <p>It is a practise test given before taking any other test.</p>
              <button class="btn btn-lg btn-block btn-dark" type="button"><a href="/quiz" RouterLink="/quiz" routerLinkActive="current"  style="text-decoration: none;color:white;">Click me</a></button>
            </div>
          </div>
        </div>

      </div>

   
    
    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card border-secondary">
          <div class="card-header">
            <h3 style="text-align: center;">Difficult level:Easy</h3>
          </div>
          <div class="card-body">
           
            <p>This is a basic test used for analysis and will be administered on the basis of demo test.</p>
            <br>
            <button class="btn btn-lg btn-block btn-dark" type="button"><a href="/demo" RouterLink="/demo" routerLinkActive="current" style="text-decoration: none;color:white;">Click me</a></button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card border-secondary">
          <div class="card-header">
            <h3 style="text-align: center;">Difficulty level:Medium</h3>
          </div>
          <div class="card-body">
            <p>This is a medium test used for analysis and will be administered on the basis of demo test.</p>
            <button class="btn btn-lg btn-block btn-dark" type="button">Click me</button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card border-secondary">
          <div class="card-header ">
            <h3 style="text-align: center;">Difficulty level:Hard </h3>
          </div>
          <div class="card-body">
            
            <p>This is a difficult test used for analysis and will be administered on the basis of demo test.</p>
            
            
            
            <button class="btn btn-lg btn-block btn-dark" type="button">Click me</button>

          </div>
        </div>
      </div>



    </div>

  </section>
  <section>
    <div class="row px-5 mb-5">
      <div class="col-6">
        
      </div>
      <div class=" p-5" style="background-color:rgb(37, 37, 37); border-radius: 80px;">
        <h2 style="text-align: center; color: aliceblue;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Why career counselling?</h2>
        <div class="row pt-4" >
          <div class="col-md-6" >
            <h4 style="background-color: white; border-radius :10px; font-size: 20px;text-align: center;font-weight: 700;" class="px-3"><i>Know your Strengths, Interests, IQ, EQ, Personality and Personalised crafted career roadmap.</i></h4>
          </div>
          <div class="col-md-6" >
            <h4 style="background-color: white; border-radius :10px;font-size: 20px;text-align: center;font-weight: 700;"><i>Online most effective Psychometric Assessment and online detailed report, stream selection.</i></h4>
          </div>

        </div>
        <div class="row" >
          <div class="col-md-6 pt-3" >
            <h4 style="background-color: white; border-radius :10px;font-size: 20px;text-align: center;font-weight: 700;"><i>College admission, deadlines eligibility,fees, application & entrance.</i></h4>
          </div>
          <div class="col-md-6 pt-3" >
            <h4 style="background-color: white; border-radius :10px;font-size: 20px;text-align: center;font-weight: 700;"><i>Alternate career choices, 5 career advice and college recommendations.</i></h4>
          </div>

        </div>
        <div class="row pt-3" >
          <div class="col-md-6" >
            <h4 style="background-color: white; border-radius :10px;font-size: 20px;text-align: center;font-weight: 700;"><i>Different boards- Which board is best for you? CBSE, IB, Cambridge, etc.</i></h4>
          </div>
          <div class="col-md-6" >
            <h4 style="background-color: white; border-radius :10px;font-size: 20px;text-align: center;font-weight: 700;"><i>Which country is best for you & how to prepare for world's best universities.</i></h4>
          </div>

        </div>


      </div>

      </div>

    
  </section>
  <section>
    <div>
      <h1 style="text-align: center;">ABOUT</h1>
      <div class="row">
        <div class="col-6 p-5 justify-content">
          <p>This website was created to help young people have a better future by providing proper guidance. We are creating a career guidance website to assist users in making career decisions and to clear up any confusion they may have about various career options.A Career Guidance System that allows students to view various career options. The system displays the various fields that are available after the tenth and twelfth grades.</p>
        </div>
        <div class="col-6 p-5 justify-content" >
          It will benefit students. Choosing a career requires a quantitative and qualitative evaluation of skills, knowledge, information, and experience. Individuals receive career counselling to assist them in identifying career options, narrowing them down to one, and making a single career decision based on knowledge, information, skills, and experiences. Their career choice has an impact on their social, financial, and emotional well-being.

        </div>
      </div>
      

    </div>
  </section>
  <footer class="white-section" id="footer">
    <div class="container-fluid" style="margin-left: 43%;">
      <i class="social-icon fa fa-facebook-f"></i>
      <i class="social-icon fa fa-twitter"></i>
      <i class="social-icon fa fa-instagram"></i>
      <i class="social-icon fa fa-envelope"></i>
      <!-- <p>© Copyright 2018 TinDog</p> -->
    </div>
  </footer>